/* Parent container styles */
body {
  margin-right: 0;
  padding: 0;
}
/* }
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
} */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: sans-serif;
  color: greenyellow;
  font-weight: bolder;
}
